div .clients{
    grid-area: clients;
    width: auto;
    height: auto;
    margin-top: 20px;
}
div .clients_logos{    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}
div .clients_div{
    width: 38%;
    margin: 10px;
    height: 50px;
}
div .clients_div img{
    width: 100%;
    height: 100%;
}
div .clients_title{
    text-align: center;
    padding: 20px;
}
div .clients_title h5{
    color: black;
}
div .clients_title span{
    color: #b69f88;
}