div .services{
    grid-area: services;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
div .service{
    height: 214px;
    text-align: center;
    margin-top: 20px;
}
div .service i{
    color: #bda794;
    font-size: 3rem;
}
div .service-title{
    font-size: x-large;
}
div .service p{
    padding: 10px;
}
@media (min-width: 768px){
    div .services{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;   
    }
    div .service{
        margin-top: 75px;
        width: 280px;
    }
}
@media (min-width: 1040px){
    div .service{
        width: 237px;
    }
}