@import "header.css";
div .work-team{
    grid-area: work-team;
    width: auto;
    margin: auto;
    height: 375px;
    padding: 10px;
    background-image: url('../img/pexels-pixasquare-1123982.jpg');
    background-size: cover;
    background-position-x: 100px;
    background-repeat: no-repeat;
    background-color: #f2f2f2;  
    margin-top: 20px;
}
div .work_team_info{
    margin: 20px;
    width: 308px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div .work_info_ajustado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
div .work_info_ajustado span{
    color: #b5b5b5;
}
div .work_info_ajustado h5{
    color: black;
}
div .work_info_ajustado button{
    background-color: #b69f88;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 50px;
}
div .work_info_ajustado .btn:hover{
    background-color: #b69f88;
    border: 1px solid #b69f88;
}
@media (min-width: 768px){
    div .work-team{
        background-position-y: -218px;
        background-position-x: 150px;
    }
}
@media(min-width:1040px){
    div .work-team{
        background-position-y: -300px;
    }
    div .work_team_info{
        width: 400px;
        margin-left: 90px;
    }
}